<div class="events-container">
  <div class="events-header">
    <h1>Events</h1>
    <div class="header-actions">
      <div class="search-box">
        <mat-form-field appearance="outline">
          <mat-label>Search in all columns...</mat-label>
          <input
            matInput
            [(ngModel)]="searchText"
            (ngModelChange)="applyFilters()"
          />
          <fa-icon [icon]="faSearch" matSuffix></fa-icon>
        </mat-form-field>
      </div>
     <button
        mat-stroked-button
        (click)="toggleFilters()"
        ngClass="{{ showFilters && 'bg-light-blue' }}"
      >
        <fa-icon [icon]="faFilter"></fa-icon>
        Filters
        <span *ngIf="appliedCondition.length">{{
          appliedCondition.length
        }}</span>
      </button>
      <button
        mat-stroked-button
        (click)="togglePreset()"
        ngClass="{{ showPresets && 'bg-light-blue' }}"
      >
        <fa-icon [icon]="faBookmark"></fa-icon>
        Preset
      </button>
      <button mat-stroked-button (click)="resetFilters()">
        <fa-icon [icon]="faRotate"></fa-icon>
        Reset
      </button>
      @if (role === "trader") {
      <mat-slide-toggle [(ngModel)]="showAllEvents" (change)="showEventList($event)">
        Show All Events
      </mat-slide-toggle>
      }
    </div>
  </div>

  <div class="filters-section" *ngIf="showFilters">
    <div class="filters-header">
      <fa-icon [icon]="faFilter"></fa-icon>
      <h3>Filters</h3>
    </div>
    <p class="filter-hint">Add conditions to filter the data</p>
@if (appliedCondition.length) {
    <div class="active-filters">Active Filters:</div>

    @for (item of appliedCondition; track $index) {
    <div class="filter-chip" (click)="addSelectedFilter($index)">
      <b>{{ item.field }}</b> {{ item.operator }}
      <span>"{{ item.value }}"</span>
      <span class="close-btn" (click)="removeFilter($index)">&times;</span>
    </div>
    } }
    <div
      class="filter-row"
    >
      <mat-form-field>
        <mat-label>Group</mat-label>
        <mat-select
          [(ngModel)]="filterConditions.group"
        >
          @for (item of groupFilter; track $index) {
          <mat-option value="{{ item.value }}">{{ item.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Field</mat-label>
        <mat-select
          [(ngModel)]="filterConditions.field"
        >
          @for (item of fieldFilter; track $index) {
          <mat-option value="{{ item.value }}">{{ item.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Operator</mat-label>
        <mat-select
          [(ngModel)]="filterConditions.operator"
        >
          @for (item of operatorFilter; track $index) {
          <mat-option value="{{ item.value }}">{{ item.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Value</mat-label>
        <input
          matInput
          [(ngModel)]="filterConditions.value"
        />
      </mat-form-field>

    <button mat-stroked-button color="primary" (click)="applyFilters()">
      <fa-icon [icon]="faPlus"></fa-icon>
      Add Filter
    </button>
  </div>
  </div>
 <div class="flex">
  <div class="events-list">
    <div
      class="event-item"
      *ngFor="let event of filteredEvents"
      [class.expanded]="expandedEventId === event.EventID"
    >
      <div class="event-summary" (click)="toggleEventDetails(event.EventID)">
        <div class="event-main">
          <fa-icon
            [icon]="
              expandedEventId === event.EventID ? faChevronDown : faChevronRight
            "
            class="expand-icon"
          ></fa-icon>
          <span class="company-name">{{ event.StockName }}</span>
          <span class="event-type">{{ event.CAType }}</span>
          <span class="urgent-badge" *ngIf="event.isUrgent">Urgent</span>
        </div>
        <div class="event-meta">
          <span class="event-date">{{ formatDate(event.Date1) }}</span>
          <span class="status-badge" [class]="event.status.toLowerCase()">{{
            event.status
          }}</span>
        </div>
      </div>

      <div class="event-details" *ngIf="expandedEventId === event.EventID">
        <div class="container">
          <div class="event-header">
            <div>
              <div class="label">Event</div>
              <div class="value">{{ event.StockName }}</div>
            </div>
            <div>
              <div class="label">Security</div>
              <div class="value">{{ event.CAType }}</div>
            </div>
            <div>
              <div class="label">Deadline</div>
              <div class="value">{{ event.CADeadline }}</div>
            </div>
            <div>
              <div class="label">Position</div>
              <div class="value">{{ event.status }}</div>
            </div>
          </div>

          <h4>SBL Breakdown Table</h4>
          <table>
            <thead>
              <tr>
                <th>Client</th>
                <th>Client Position</th>
                <th>Decision</th>
                <th>Elected Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mr. A</td>
                <td>100</td>
                <td>Yes</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Mr. B</td>
                <td>50</td>
                <td>No</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Mr. C</td>
                <td>80</td>
                <td>Yes</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Total Client Position:</td>
                <td>230</td>
                <td></td>
                <td>130</td>
              </tr>
            </tbody>
          </table>
          <div class="container-bottom">
            <div class="summary-section">
              <div class="summary-left">
                <p>Trader Position (Borrowed): <span>-330</span></p>
                <p>Unt Exposure after Client Elections: <span>-200</span></p>
                <p>Uncovered Risk (Trader liable for): <span>-200</span></p>
              </div>
              <div class="summary-right">⚠️ Flag: Partial Client Response</div>
            </div>

            <div class="action-bar">
              <button
                class="btn btn-primary"
                (click)="openAuroraPortal(eventDetails.link)"
              >
                Input Election (Trader)
              </button>
              <button
                class="btn btn-outline"
                (click)="openCloseComment(event.EventID)"
              >
                ✏️ Edit Comment
              </button>
              <button
                class="btn"
                [ngClass]="
                  eventDetails.urgentFlag ? 'btn-danger' : 'btn-secondary'
                "
                (click)="
                  removeAaddUrgentFlag(event.EventID, eventDetails.urgentFlag)
                "
              >
                🚩 {{ eventDetails.urgentFlag ? "Remove" : "Add" }} Urgent Flag
              </button>
            </div>

            @if(openCommentBox){
            <div class="chat-container">
              <div class="messages" #messagesContainer>
                @for (msg of eventDetails.messages; track $index) {
                <div
                  [ngClass]="{
                    'message sent': msg.isSent,
                    'message received': !msg.isSent
                  }"
                >
                  {{ msg.text }}
                  <div class="timestamp">
                    {{ msg.dateTime | date : "shortTime" }}
                  </div>
                </div>
                }
              </div>

              <div class="input-area">
                <textarea
                  placeholder="Type Something..."
                  [(ngModel)]="newMessage"
                ></textarea>
                <button
                  class="btn-cancel"
                  (click)="cancelMessage(event.EventID)"
                >
                  Cancel
                </button>
                <button class="btn-send" (click)="sendMessage(event.EventID)">
                  Send
                </button>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  @if (showPresets) {
    <div>
      <mat-card class="filter-card">
        <mat-card-title>Filter Presets</mat-card-title>
        <mat-card-subtitle
          >Save and apply filter combinations</mat-card-subtitle
        >

        @for (preset of presets; track $index){
        <div class="filter-item">
          <div class="filter-info">
            <div class="preset-name">{{ preset.name }}</div>
            <div class="preset-sub">1 filters</div>
          </div>
          <div class="filter-actions">
            <button mat-icon-button color="primary" (click)="selectPresetFilter($index)">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deletePreset($index)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        }
        <!-- Save preset input form shown conditionally -->
        <div class="save-form" *ngIf="showSaveInput">
          <mat-form-field appearance="fill" class="preset-input">
            <input
              matInput
              placeholder="Preset name..."
              [(ngModel)]="newPresetName"
            />
          </mat-form-field>
          <button disabled="{{!newPresetName}}" mat-raised-button color="primary" (click)="savePreset()">
            <mat-icon>save</mat-icon>&nbsp;Save
          </button>
          <button mat-button color="warn" (click)="cancelSave()">Cancel</button>
        </div>

        <!-- Save Filter button to toggle the input -->
        <button
          mat-stroked-button
          color="primary"
          class="save-btn"
          *ngIf="!showSaveInput"
          (click)="showSaveInput = true"
          disabled="{{!appliedCondition.length}}"
        >
          Save Current Filters
        </button>
      </mat-card>
    </div>
    }</div>
</div>
